<div class="main-content" *ngIf="allProducts && allProducts.length; else loaderTemplate">
  <header class="main-header">
    <nav class="main-nav">
      <h1 class="brand-logo">ProdCat</h1>
      <ul>
        <li>
          <a class="nav-link" href="#general" [ngClass]="{active: selectedLink === 'general'}"
            (click)="changeSelection($event, 'general')">General</a>
        </li>
        <li>
          <a class="nav-link" href="#other" (click)="changeSelection($event, 'other')"
            [ngClass]="{active: selectedLink === 'other'}">Other</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <pc-products [products]="filteredProducts"></pc-products>
  </main>
</div>

<ng-template #loaderTemplate>
  <div class="loading">
  </div>
</ng-template>
